<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.gyp.pfc"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="19" />

    <application
        android:allowBackup="true"
        android:debuggable="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".activities.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activities.food.FoodListActivity" >
        </activity>
        <activity android:name=".activities.food.AddFoodActivity" >
        </activity>
        <activity android:name=".activities.food.EditFoodActivity" >
        </activity>
        <activity android:name=".activities.food.EnterFoodNameActivity" >
        </activity>
        <activity android:name=".activities.food.ShowFoodDetailsActivity" >
        </activity>
        <activity android:name=".activities.exercise.ExerciseListActivity" >
        </activity>
        <activity android:name=".activities.exercise.ExerciseDetailsActivity" >
        </activity>
        <activity android:name=".activities.exercise.AddExerciseActivity" >
        </activity>
        <activity android:name=".activities.exercise.EditExerciseActivity" >
        </activity>
        <activity android:name=".activities.training.AddTrainingActivity" >
        </activity>
        <activity android:name=".activities.training.TrainingListActivity" >
        </activity>
        <activity android:name=".activities.training.ExecuteTrainingActivity" >
        </activity>
        <activity android:name=".activities.meal.EditMealActivity" >
        </activity>
        <activity android:name=".activities.meal.MealListActivity" >
        </activity>
        <activity android:name=".activities.historic.TrainingHistoricListActivity" >
        </activity>
        <activity android:name=".activities.historic.AddTrainingHistoricActivity" >
        </activity>
    </application>

</manifest>