<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.gyp.pfc"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="19" />
    
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
        android:allowBackup="true"
        android:debuggable="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".activities.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activities.food.FoodListActivity" />
        <activity android:name=".activities.food.AddFoodActivity" />
        <activity android:name=".activities.food.EditFoodActivity" />
        <activity android:name=".activities.food.EnterFoodNameActivity" />
        <activity android:name=".activities.food.ShowFoodDetailsActivity" />
        <activity android:name=".activities.exercise.ExerciseListActivity" />
        <activity android:name=".activities.exercise.ExerciseDetailsActivity" />
        <activity android:name=".activities.exercise.AddExerciseActivity" />
        <activity android:name=".activities.exercise.EditExerciseActivity" />
        <activity android:name=".activities.training.AddTrainingActivity" />
        <activity android:name=".activities.training.TrainingListActivity" />
        <activity android:name=".activities.training.ExecuteTrainingActivity" />
        <activity android:name=".activities.meal.EditMealActivity" />
        <activity android:name=".activities.meal.MealListActivity" />
        <activity android:name=".activities.historic.TrainingHistoricListActivity" />
        <activity android:name=".activities.historic.AddTrainingHistoricActivity" />
        <activity android:name=".activities.historic.EditTrainingHistoricActivity" />
        <activity android:name=".activities.biometric.WeightListActivity" />
        <activity android:name=".activities.biometric.AddWeightActivity" />
        <activity android:name=".activities.biometric.EditWeightActivity" />
        <activity android:name=".activities.sharing.file.FileSharingActivity" />
    </application>

</manifest>